<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TextFileMerger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TextFileMerger.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value/>
            </setting>
            <setting name="uniqueFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteUnsuccessfulMerged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rootDirectory" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="defaultOutputName" serializeAs="String">
                <value>merged.txt</value>
            </setting>
            <setting name="clearSelectedFolderListBeforeNextSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="removeSelectedFoldersAfterProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultOutputFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="isDefaultOutputFolderCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultOutputExtension" serializeAs="String">
                <value/>
            </setting>
        </TextFileMerger.Properties.Settings>
    </userSettings>
</configuration>
